/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
  margin: 0; padding: 0;
}

h1, h2 {
	color: #ffffff;
}

p{
	font-family: 'Open sans', sans-serif;
	font-size: 13px;
	color: rgba(255, 255, 255, .5);
	line-height: 1.5;
	margin-bottom: 20px;
}

a {
	font-family: 'Open sans', sans-serif;
	color: #ffffff;
}

body {
	background: repeating-linear-gradient(
  -45deg,
  #121212,
  #121212 3px,
  #15181D 0px,
  #15181D 65px
);
}

/* Header */

header {
	margin: 0; padding: 1em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
  	top: 0;
  	width: 100%;
  	
  	z-index: 300;
  	
	
}

header a {
	display: flex;
	flex-wrap: nowrap;
	text-decoration: none;
	
}

header > a img {
	width: 13%;

}

header a p {

	margin-left: 0.5em;
	text-decoration: none;
	color: #ffffff;
	margin: 0px 0px 0px 10px;
	
}

nav {

}

nav a img {
	width: 35%;
}

/* Main */

main {
	/*padding: 100px 20px 20px 20px;*/
}

article:nth-of-type(1) {
	position: relative;
}

article:nth-of-type(1) h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 2em;
	font-weight: 500;
	line-height: 1.2;
	position: fixed;
  	top: 0;
  	width: 100%;
  	margin-top: 150px;
  	background-color: none;
  	z-index: 299;
}

main article:nth-of-type(1) img:nth-of-type(1) {
	width: 60%;
	margin-left: -150px;
	margin-top: 100px;
	position: absolute;
	z-index: -1;
}

main article:nth-of-type(1) img:nth-of-type(2) {
	width: 100%;
	margin-top: 220px;
	/*position: absolute;
	z-index: 2;*/
    /*background-image: url(/images/page-home-hero-image.jpg);*/
    /*transform: translate3d(0px, 0px, 0px);*/
    /*background-size: cover;
    height: 125%!important;
    top: -25%!important;*/
}

h2 {
	font-family: 'open sans', sans-serif;
	font-size: 22px;
    margin-bottom: 20px;
    font-weight: 400;
}

article:nth-of-type(2) {
	margin-top: 500px;
}

article:nth-of-type(3) {
	margin-top: 300px;
}

article:nth-of-type(3) a {
	border-left: 1px solid #86ffff;
    border-right: 1px solid #01d7fe;
	margin-top: 20px;
	color: #fff;
	padding: 15px 30px;
	position: relative;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

article:nth-of-type(3) a::before {
	content: " ";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 0;
    left: 0;
    background: linear-gradient(to right,#86FFFF,#01D7FE);
}

article:nth-of-type(3) a::after {
	content: " ";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right,#86FFFF,#01D7FE);
}

article:nth-of-type(4) {
	margin-top: 300px;

}

nav div {
	position: relative;
	border: 2px solid #a6a6a6;
	width: 32px;
    height: 32px;
    padding: 7px 4px;
}

nav div span
{
  display: block;
  width: 20px;
  height: 2px;
  margin-bottom: 4px;
  position: relative;
  
  background: #a6a6a6;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

nav div span:nth-last-child(1) {
	margin-bottom: 0px;
}

 nav div span:first-child
{
  transform-origin: 0% 0%;
} 

.menu div {
	transform: rotate(-45deg);
	transition: 0.5s ease;

}
.menu div span:nth-last-child(3) /*Onderste*/
{
  transform: rotate(90deg) translate(-3px, -11px);
}

.menu div span:nth-last-child(2) /*Middelste*/
{
  opacity: 0;
  transform: rotate(90deg) scale(0.2, 0.2);
}

.menu div span:nth-last-child(1) /*Bovendste*/
{
  transform: rotate(0deg) translate(0px, -6px);
}

nav > ul {
  position: absolute;
  width: 300px;
  padding: 50px;
  padding-top: 125px;
  list-style-type: none;
  transform: translate(-50em, 20em);
  transition: transform 0.2s;
}

.menu ul 
{
  transform: translate(-20em, 1em);
  background: repeating-linear-gradient(
  -45deg,
  #121212,
  #121212 3px,
  #15181D 0px,
  #15181D 65px);
}



