/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
  margin: 0; padding: 0;
}

h1, h2 {
	color: #ffffff;
}

p{
	font-family: 'Open sans', sans-serif;
	font-size: 13px;
	color: rgba(255, 255, 255, .5);
	line-height: 1.5;
	margin-bottom: 20px;
}

a {
	font-family: 'Open sans', sans-serif;
	color: #ffffff;
}

/* Header */

header {
	margin: 0; padding: 1em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
  	top: 0;
  	width: 100%;
  	background-color: #15181e;
	
}

header a {
	display: flex;
	flex-wrap: nowrap;
	text-decoration: none;
	
}

header > a img {
	width: 13%;

}

header a p {

	margin-left: 0.5em;
	text-decoration: none;
	color: #ffffff;
	margin: 0px 0px 0px 10px;
	
}

nav {

}

nav a img {
	width: 35%;
}

main {
	padding: 100px 20px 20px 20px;
	background-color: #15181e;
}

main > h1 {
	font-family: 'Oswald', sans-serif;
	font-size: 2em;
	font-weight: 500;
	line-height: 1.2;
	position: fixed;
  	top: 0;
  	width: 100%;
  	margin-top: 100px;
  	background-color: none;


}

main > img {
	width: 100%;
	margin-top: 80px;
}

h2 {
	font-family: 'open sans', sans-serif;
	font-size: 22px;
    margin-bottom: 20px;
    font-weight: 400;
}

article:nth-of-type(1) {
	margin-top: 300px;
}

article:nth-of-type(2) {
	margin-top: 300px;
}

article:nth-of-type(2) a {
	border-left: 1px solid #86ffff;
    border-right: 1px solid #01d7fe;
	margin-top: 20px;
	color: #fff;
	padding: 15px 30px;
	position: relative;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

article:nth-of-type(2) a::before {
	content: " ";
    position: absolute;
    width: 100%;
    height: 1px;
    top: 0;
    left: 0;
    background: linear-gradient(to right,#86FFFF,#01D7FE);
}

article:nth-of-type(2) a::after {
	content: " ";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right,#86FFFF,#01D7FE);
}

article:nth-of-type(3) {
	margin-top: 300px;

}


